* {
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  justify-content: center;
}

.calculator-box {
  outline: auto;
}

button {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  margin: 2px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.operators {
  display: flex;
}

.display {
  width: 100%;
}

input {
  height: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.confirm {
  height: 200px;
  display: inline-block;
}
